*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 1300px;
    width: 100%;
    background-color:aquamarine;
}
.home{
    display: flex;
    width: 100%;
}
img{
    height:150px;
    border-radius: 100%;
    margin: 30px;
}
.name_quote{
    margin-top:50px;
}
.name{
   margin-bottom: 15px;
}
hr{
    border:aliceblue 2px solid;
}
table{
    margin: 30px;
    padding: 10px;
    line-height: 1.5;
}
th{
    text-align: left;
    
}
td{
    text-align: right;
}
i{
    float: right;
}
nav{
    margin: 30px;
}
.list_type{
    padding: 10px;
}
span{
    font-weight:bold;
}